* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  width: 100%;
}
.card {
  width: 100%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: whitesmoke;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  height: 60px;
  width: 60px;

  border-radius: 50%;
  cursor: pointer;
}
.search button img {
  width: 60px; /* Button ki poori width lega */
  height: 60px; /* Button ki poori height lega */
  object-fit: cover; /* Image ko bina stretch kiye fit karega */
  display: block;
  border-radius: 50%;
}

.weather-icon {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  mix-blend-mode: multiply;
  mix-blend-mode: multiply;
  filter: contrast(120%);
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.detail {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  gap: 75px;
  width: 100%;
}
.colum img {
  margin-right: 10px;
  width: 100px;
  text-align: left;

  mix-blend-mode: multiply;
  filter: contrast(120%);
}
.colum {
  align-items: center;
  text-align: left;
  justify-content: space-between;
}
.wind,
.humidity {
  font-size: 28px;
  margin-top: -6px;
}
.pp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather {
  display: none;
}
.error {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  display: none;
}
