* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music-player {
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;

  text-align: center;
  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cercle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow:
    0,
    5px,
    10px rgb(255, 26, 26, 0.22);
}
.song-image {
  width: 220px;
  border: 8px solid #ffe0e572;
  border-radius: 50%;

  mix-blend-mode: multiply;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11),
    0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11),
    0px 10px 90px rgb(255, 26, 26, 0.22);
}
.music-player h1 {
  font: size 20px;
  font-weight: 400;
  color: #333;
  margin: 10px;
}
.music-player p {
  font-size: 14px;
  color: #333;
}
#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  margin: 40px 0;
  cursor: pointer;
  background: #f53192;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f53192;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0px 5px 5px rgba(255, 26, 26, 0.22);
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.control div {
  height: 60px;
  width: 60px;
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  color: #f53192;
  box-shadow: 0 0 20px rgba(255, 45, 95, 0.5);
  cursor: pointer;
}
.control div:nth-child(2) {
  transform: scale(1.5);
}
